@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --heading: #fff;
    --text-light: #5B6C64;
    --text-dark: #DADADA;
    --bg-light: #F3F3F5;
    --bg-dark: #2E6710;
    --bg-break: #fff;
}
body{
    font-family: 'poppins', sans-serif;
    overflow-x:hidden;
}
a{
    text-decoration: none;
    color: var(--text-light);
}
a:visited{
    color: var(--text-light);
}
.text p{
  margin-bottom: 20px;
}
.dropbtn a{
  color:var(--bg-dark);
}
.browse, .browse:visited{
  padding: 10px 45px;
  background-color: var(--bg-dark);
  color: var(--bg-light);
  font-family: inherit;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 15px 0;
}
ul {
    list-style-type: none;
  }
  /* header area */
header{
    width: 100vw;
}
  /* header content */
  .header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    transition: 0.3s;
    background-color: var(--bg-break);
}
.top-logo{
    height: 60px;
    padding-left: 25px;

}
#nav-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    transition: 0.5s;
}
.nav-menu{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.nav-menu li{
    list-style-type: none;
}
.nav-menu li a{
    text-decoration: none;
    display: block;
    padding: 0 25px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    transition: 0.3s;
    color: var(--bg-dark);
}
.hamburger{
    position: relative;
    width: 40px;
    height: 4px;
    background: var(--bg-dark);
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    transition: 0.3s;
}
.hamburger::before, .hamburger::after{
    content: "";
    position: absolute;
    height: 4px;
    right: 0;
    background: var(--bg-dark);
    border-radius: 10px;
    transition: 0.3s;
}
.hamburger::before{
    top: -10px;
    width: 40px;
}
.hamburger::after{
    top: 10px;
    width: 40px;
}
.toggle-menu{
    position: absolute;
    width: 40px;
    height: 100%;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
}
.hamburger,.toggle-menu{
    display: none;  
}
#nav-main input:checked ~ .hamburger{
    background: transparent;
}
#nav-main input:checked ~ .hamburger::before{
    top: 0;
    transform: rotate(-45deg);
    width: 40px;
}  
#nav-main input:checked ~ .hamburger::after{
    top: 0;
    transform: rotate(45deg);
    width: 40px;
}
#nav-main input:checked ~ .nav-menu{
    right: 0;
}
@media screen and (min-width: 971px) {
  .browse, .browse:visited{
    padding: 10px 35px;
    background-color: var(--bg-dark);
    color: var(--bg-light);
    font-family: inherit;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 15px 0;
  }
  .log-btn {
    padding: 10px 25px;
    background-color: var(--bg-dark);
    color: var(--bg-light);
    font-family: inherit;
    border-radius: 5px;
    border: none;
    cursor: pointer;
 }
 .log-btn a{
  padding: 10px 25px;
  background-color: var(--bg-dark);
  color: var(--bg-light);
  font-family: inherit;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}  
.dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 17px;    
    border: none;
    outline: none;
    color: var(--bg-dark);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--bg-break);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding-bottom: 20px;
  }
  
  .dropdown-content li a {
    float: none;
    color: var(--bg-dark);
    margin-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .topnav a:hover, .dropdown:hover .dropbtn {
    background-color: var(--text-dark);
    color: var(--bg-dark);
  }
  
  .dropdown-content a:hover {
    background-color: var(--bg-light);
    color: var(--bg-dark);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
}


@media screen and (max-width:970px) {
    .hamburger,.toggle-menu{
        display: block;  
    }
    .header{
        padding: 5px 20px;
    }
    .nav-menu{
        justify-content: start;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        right: -150px;
        background: #FFF;
        width: 150px;
        height: 40%;
        padding-top: 20px;
        filter: drop-shadow(5px 5px 5px #4a4a4a);
    }
    .browse, .browse:visited{
      padding: 5px 35px;
      background-color: var(--bg-dark);
      color: var(--bg-light);
      font-family: inherit;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      margin: 15px 0;
      order: 2;
    }
    .nav-menu li{
        width: 100%;
    }
    .nav-menu li a{
        padding: 20px;
    }
    .log-btn {
      padding: 10px 25px;
      background-color: var(--bg-dark);
      color: var(--bg-light);
      font-family: inherit;
      border-radius: 5px;
      border: none;
      cursor: pointer;
   }
   .log-btn a{
    padding: 10px 25px;
    background-color: var(--bg-dark);
    color: var(--bg-light);
    font-family: inherit;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }  
    .dropdown {
        overflow: hidden;
      }   
      .dropdown .dropbtn {
        font-size: 17px;    
        border: none;
        outline: none;
        color: var(--bg-dark);
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
        left: 0;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        left: 0;
      }
      
      .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
      }
      
      .topnav a:hover, .dropdown:hover .dropbtn {
        background-color: #555;
        color: white;
      }
      
      .dropdown-content a:hover {
        background-color: #ddd;
        color: black;
      }
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
    
}
  /* hero image */
  .hero-content{
    background-color: var(--bg-light);
    width: 100vw;
  } 
  .hero-container{
    display: flex;
    width: 70%;
    margin: auto;
    align-items: center;
  }
  .hero-content img{
    max-width: 85%;
    margin-left: 40px;
  }
  .hero-info{
    flex: 60%;
  }
  .hero-info h1,h2,h3,h4,h5,h6{
    margin: 10px 0;
  }
  .hero-info h1{
    font-size: 3.4em;
    color: var(--bg-dark)
  }
  .hero-info h2{
    font-size: 1.5em;
    color: var(--bg-dark);
    font-weight: 400;
  }
  .hero-info p{
    font-size: 1em;
    color: var(--text-light);
    font-weight: 400;
  }
  .ctn{
    padding: 10px 35px;
    margin: 25px 20px 0 0;
    border: none;
    background-color: var(--bg-dark);
    color: var(--bg-break);
    font-family: 'poppins', sans-serif;
    border-radius: 5px;
    cursor: pointer;
}
.social{
    padding: 25px 0;
}
.hero-social{
    color: var(--bg-dark);
    font-size: 2.5rem;
}
.twit,.insta{
    padding-left:15px;
}
/* categories section */
.categories{
    background-color: var(--bg-dark);
    position: relative;
}
.cat-container{
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width:900px) {
    
  .hero-container{
        display: flex;
        flex-wrap: wrap;
      }
      .hero-info{
        flex: 50%;
        padding-top: 40px;
      }
      .hero-content img{
        width: 400px;
        margin-left: 10px;
      }
      
      .hero-info h1,h2,h3,h4,h5,h6{
        margin: 5px 0;
      }
      .hero-info h1{
        font-size: 2.5em;
        color: var(--bg-dark)
      }
      .hero-info h2{
        font-size: 1.2em;
        color: var(--bg-dark);
        font-weight: 500;
      }
      .hero-info p{
        font-size: 1em;
        color: var(--text-light);
        font-weight: 400;
      }
      .ctn{
        padding: 10px 35px;
        margin: 25px 20px 0 0;
        border: none;
        background-color: var(--bg-dark);
        color: var(--bg-light);
        font-family: 'poppins', sans-serif;
        border-radius: 5px;
        cursor: pointer;
    }
}
/* figure styles */

.category-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    padding: 30px 15px;
  
      @media (min-width: 1024px) {
      grid-template-columns: 50% 25%;
      padding: 60px 30px;
    }
  }
  .category-card {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(87,71,81,0.3);
    overflow: hidden;
  }
  
  .category-card:nth-child(1) {
    @media (max-width: 1023px) {
      display: none;
    }
  
    @media (min-width: 1024px) {
      grid-column: 1 / 2;
        grid-row: 1 / 4;
    }
  
    span {
      font-size: 48px;
    }
  }
  
  .category-card:nth-child(2) {
    @media (min-width: 1024px) {
      grid-column: 2 / 3;
        grid-row: 1 / 3;
    }
  }
  
  .category-card:nth-child(3) {
    @media (min-width: 1024px) {
      grid-column: 3 / 4;
        grid-row: 1 / 3;
    }
  } 
  
  .category-card:nth-child(4) {
    @media (min-width: 1024px) {
      grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
  }
  
  .category-card:nth-child(5) {
    @media (min-width: 1024px) {
      grid-column: 3 / 4;
        grid-row: 3 / 4;
    }
  }
  
  .category-card__image {
    width: 100%;
    height: 100%;
    transition: transform 0.35s ease-in-out;
    border-radius: 20px;
    .category-card:hover & {
      transform: scale(1.05);
    }
  }
  
  .category-card__link {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-decoration: none;
    background-color: rgba(0,0,0,0.2);
    transition: all 0.4s ease-in-out;
  
    span {
      font-size: 25px;
      font-family: 'poppins', serif;
      font-weight: 700;
      line-height: 1;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      text-shadow: 0 1px 2px #000;
    }
  
  }
  
  .category-card__link:hover {
    background-color: rgba(0,0,0,0.4);
  }

  /* feature section */
  .features{
    background-color: var(--bg-light);
  }
  .feature-container{
    display: flex;
    width: 80%;
    margin: auto;
    padding: 40px 0;
    align-items: center;
    justify-content: center;
  }
  .feature-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    padding: 30px 15px;
    align-items: space-between;
    justify-content: center;
    align-items: center;
  }

@media screen and (max-width:850px) {
    .feature-cards{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 16px;
        padding: 30px 15px;
    }
} 
  .feature-item {
    padding: 0 50px;
    text-align: center;
  }
  .feature-item h3{
    color: var(--bg-dark);
  }
  .feature-item p{
    color: var(--text-light);
  }
  .feature-icon {
    color: var(--bg-dark);
    display: flex;
    padding: 2% 0;
    font-size: 1.5rem;
    justify-content: center;
}

/* offer section */
.offer-container{
    display: flex;
    width: 80%;
    margin: auto;
    padding: 40px 0;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width:759px){
    .ad-large{
        display: none;
    }
    .ad-small{
      width: 95%;
  }
} 
@media screen and (min-width:760px){
    .ad-small{
        display: none;
    }
}

/* subscribe section */
  .subscribe {
      background-color: var(--bg-light);
  }
  .sub-container{
    width: 80%;
    margin: auto;
    padding: 60px 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    justify-content: center;
  }
  .sub-container h3{
    font-size: 2rem;
    color: var(--bg-dark);
    text-align: center;
  }
  form {
    display: flex;
    flex-wrap: wrap;
    
    & > input {
      flex: 1 1 10ch;
      margin: .5rem;
      
      &[type="email"] {
        flex: 3 1 30ch;
      }
    }
  }
  
  input {
    border: none;
    background: var(--bg-break);
    font-family: 'poppins',sans-serif;
    border-radius: .25rem;
    padding: .75rem 1rem;
    
    &[type="submit"] {
      background: var(--bg-dark);
      color: var(--bg-light);
      font-family: 'poppins',sans-serif;
      box-shadow: 0 .75rem .5rem -.5rem hsl(0 50% 80%);
    }
  }

  /* footer section */
  footer{
    background-color: var(--bg-dark);
    width: 100vw;
    justify-content: center;
    align-content: center;
  }
  .foot-container{
    display: flex;
    width: 80%;
    margin: auto;
    padding: 40px 0;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: var(--bg-light);
  }
  .foot-container li a{
    color: var(--bg-light);
    padding-bottom:6px;
  }
  .foot-container h5{
    font-size: 1.4rem;
  }
  .foot-container li{
    margin: 10px 0;
  }
  .foot-brand{
    justify-content: center;
  }
  .foot-social-group{
    padding-top: 20px;
  }
  .foot-social{
    color: var(--bg-light);
    font-size: 1.5rem;
  }
  @media screen and (max-width: 750px) {
    .foot-container{
        display: flex;
        width: 100%;
        margin: auto;
        padding: 40px 0;
        align-items: center;
        justify-content: left;
        flex-direction: column;
        flex-wrap: wrap;
        color: var(--bg-light);
      }
  }

  /* about styling */
  .about-content{
    width: 100vw;
  }
  .about-container{
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
    margin: 30px auto;
  }
.ctn a{
  color: var(--bg-break);
}
@media only screen and (max-width: 991px){
  .about-container{
    display: flex;
    width: 100%;
    padding-left: 10px;
    margin: auto;
    align-items: center;
    margin: 30px auto;
  }
  .about-middle{
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    margin: 30px auto;
    gap: 30px;
  }
  .about-images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
.grid-image img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 25px;
}
.text{
  max-width: 400px;
}

.text2{
  max-width: 400px;
}
.text h1{
  color: var(--bg-dark);
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.text2 h2{
  color: var(--bg-dark);
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.grid-image2 img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 25px;
}
.about-images2{
  display: grid;
  grid-row: 1;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.group-image-bttm{
  grid-row: 3;
  grid-column: 1;
}
.about-content2{
  grid-row: 4;
}
}
@media only screen and (min-width : 992px) and (max-width: 1280px) {
  .about-middle{
      display: grid;
      width: 100%;
      margin: auto;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      margin: 30px auto;
      gap: 30px;
  }
  .about-images{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
    }
  .grid-image img{
    width: 275px;
    height: 275px;
    object-fit: cover;
    border-radius: 25px;
  }
  .text{
    grid-column: 3;
    grid-row:1;
    width: 420px;
  }
  .text2{
    grid-column: 1;
    grid-row:2;
    width: 460px;
  }
  .text h1{
    color: var(--bg-dark);
    font-size: 2rem;
    margin-bottom: 5px;
  }
  .text2 h2{
    color: var(--bg-dark);
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  .about-images2{
    grid-row: 2;
    grid-column: 1;
    left: -150px;
  }
  .grid-image2 img{
    width: 275px;
    height: 275px;
    object-fit: cover;
    border-radius: 25px;
  }
  .group-image-bttm{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1281px) {

  .about-middle{
    display: grid;
    width: 75%;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    margin: 30px auto;
    gap: 30px;
  }
  .about-images{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
.grid-image img{
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 25px;
}
.text{
  grid-column-start: 3 span 4;
  width: 650px;
}
.text h1{
  color: var(--bg-dark);
  font-size: 2rem;
  margin-bottom: 10px;
}
.text2 h2{
  color: var(--bg-dark);
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.grid-image2 img{
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 25px;
}
.about-images2{
  display: grid;
  grid-row: 2;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}
.group-image-bttm{
  grid-column: 2;
}
.about-content2{
  grid-row: 2;
}
}